body {
  text-align: center;
  padding: 50px;

  /* font */
  font-family: serif;
}

#main {
  font-size: 72px;
  letter-spacing: .1em;
}

#result {
  font-size: 36px;
}

.material-icons.large {
  font-size: 48px;
}