body {
  text-align: center;
  padding: 50px;

  /* font */
  font-family: serif;
}

#main {
  font-size: 72px;
  letter-spacing: .1em;
}

#result {
  font-size: 36px;
}

#main i {
  font-size: 56px;
}

#result i {
  font-size: 32px;
}